@charset "UTF-8";

#header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
#header a {
  text-decoration: none;
  color: #000;
}
.header-logo {
  font-size: 24px;
  line-height: 70px;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  line-height: 70px;
  font-weight: bold;
  margin-left: 30px;
}
.header-nav-item a:hover{
  opacity: 0.6;
}

#main {
  padding-top: 70px;
}

.eyecatch {
  width: 100%;
  height: 250px;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.eyecatch-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.service {
  width: 60%;
  margin: 0 auto;
  padding: 80px 0;
}
.service-wrap {
  width: 100%;
}
.service-content-box {
  display: flex;
  padding: 20px 0 27px 0;
  border-top: 1px solid #000;
}
.service-content-box:last-child {
  border-bottom: 1px solid #000;
}
.service-content-box img{
  width: 27%;
}
.service-content-box-text {
  width: 78%;
  padding: 7px 0 0 40px;
  /* background-color: brown; */
}
.service-content-box-text p:nth-of-type(1) {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 7px;
}
.service-content-box-text p:nth-of-type(2) {
  line-height: 1.5;
}

.contact {
  height: 320px;
  background-color: rgb(245, 246, 249);
  position: relative;
}
.contact-wrap {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact-wrap p {
  margin-bottom: 50px;
}
.contact-title {
  font-size: 30px;
  padding: 80px 0 20px 0;
}
.button {
  width: 28%;
  height: 48x;
  margin: 0 auto;
  margin-bottom: 80px;
  background: rgb(205, 17, 36);
  text-align: center;
  line-height: 48px;
  transition: 0.3s;
}
.button:hover {
  background: rgb(220, 78, 103);
}
.button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
  height: 60px;
  color: #fff;
}
.footer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 20px 0;
}
.footer-nav-list {
  display: flex;
}
.footer-nav-item a {
  text-decoration: none;
  color: #fff;
}
.footer-nav-item a:hover{
  opacity: 0.6;
}
.footer-nav-item:not(:last-of-type) {
  padding: 0 12px;
}
.footer-nav-item:last-of-type {
  padding-left: 12px;
}
.footer-nav-item:not(:first-of-type) {
  border-left: 1px solid #fff;
}


@media screen and (max-width: 768px) {

  .hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
    position: absolute;
    top: 10px;
    right: 25px;
    position: fixed;
  }
  .hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    transition: 0.8;
  }
  .hamburger span:nth-of-type(1) {
    top: 10px;
  }
  .hamburger span:nth-of-type(2) {
    top: 25px;
  }
  .hamburger span:nth-of-type(3) {
    top: 40px;
  }
  .header-nav {
    display: none;
  }

  .service {
    width: 85%;
  } 
  .service-content-box {
    flex-wrap: wrap;
  }

  .contact-wrap {
    width: 85%;
  }
  .button {
    width: 90%;
  }

  #footer {
    height: 240px;
  }
  .footer {
    flex-wrap: wrap; 
    text-align: center;
    padding: 0;
  }
  .copyright {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .footer-nav-list {
    flex-wrap: wrap; 
  }
  .footer-nav-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-nav-item:not(:first-of-type) {
    border-left: none;
  }
  .service-content-box img,
  .service-content-box-text {
    width: 100%;
  }
  .service-content-box-text {
    padding: 15px 0 0 0;
  }

}
